<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About ka title</title>
</head>

<body>
    
<div id="content">
    <h1>Welcome to about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima optio 
        ratione impedit at consectetur voluptatem corporis iure accusantium recusandae saepe?</p>

</div>

    <script>
        console.log("About page script");
    </script>
    <script>
        console.log(" another About page script");
    </script>
</body>
</html>