<!DOCTYPE html>
<html 
class="white"
lang="en" th:fragment="parent(content, title,script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">SCM</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet"> <!-- Tailwind compiled CSS -->

    <!-- font awsome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="h-screen w-full dark:bg-gray-900 dark:text-white">
    

    <!-- Common Header -->
    <div th:insert="navbar :: navbar"></div>

    <!-- Main content -->
    <div class="p-4 "><section th:insert="${content}"></section></div>
    <!-- flowbite ka content -->

    <!-- Common Footer -->
     <footer class="p-4">
        Footer: Smash with SHIRISHA K
     </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
        <script data-th-src="@{'/js/script.js'}"></script>
    
<!-- Page-specific script -->
    <th:block th:replace="${script}"></th:block>
</body>
</html>
