<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin:auto;
            width : 50%;
            padding: 30px;
            background:pink;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 th:text="${name}">Welcome to home page</h1>
<p>Youtube channel : <span th:text="${youtubeChannel}"></span></p>
<p>Github : <span th:text="${github}"></span></p>
<a data-th-href="${github}">Click here to open</a>
        <p>Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Quia iusto eaque tempora fugit id ex!
        </p>
    </div>
</body>
</html>