<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Service page handler</h1>
    <hr />
    <div th:replace="~{base :: parent(~{::.third_content})}">
        <section id="main_content">
            <h2>This is the dynamic main content passing from services</h2>
        </section>
         <section id="second_content">
            <h2>This is the dynamic second content passing from services</h2>
        </section>
        <section class="third_content">
            <h2>This is the dynamic third content passing from services</h2>
        </section>

    </div>
    </body>
</html>